body{
  font-family: 'Noto Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li a {
  position: absolute;
  font-size: 1.2em;
  padding: 1em 2em .5em 2em;
  text-decoration: none;
  color: black;
  background-image: linear-gradient(90deg, black, white);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}


li a:hover  {
  background-size: 100% 3px;
}


.name a {
  font-size: 1.3em;
  text-decoration: none;
  color: black;
  background-image: linear-gradient(90deg, black, white);
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}

.name a:hover  {
  background-size: 100% 3px;
}
